.flight-card {
    width: 49%;
}

.flight-content {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.flight-content img {
    max-width: 620px;

}

.flight-map {
    width: auto;
    width: 95%;
    height: 100%;
}